<script type="text/javascript">
  init_product_js();
</script>

<header id="formula-header" class="product-header">
  <div class="product-width">
      <a href="<%= root_path %>"><%= image_tag('poppy.png', alt: 'poppy logo', class: 'animated fadeIn', id: 'nav-logo') %></a>
  </div>

  <a id="mobile-menu-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.8 20"><path d="M30,18.5H0.8c-0.5,0-0.8,0.3-0.8,0.8C0,19.7,0.3,20,0.8,20H30c0.5,0,0.8-0.3,0.8-0.8C30.8,18.8,30.5,18.5,30,18.5z"/><path d="M0.8,1.5H30c0.5,0,0.8-0.3,0.8-0.8S30.5,0,30,0H0.8C0.3,0,0,0.3,0,0.8S0.3,1.5,0.8,1.5z"/><path d="M30,9.2H0.8C0.3,9.2,0,9.5,0,10c0,0.5,0.3,0.8,0.8,0.8H30c0.5,0,0.8-0.3,0.8-0.8C30.8,9.5,30.5,9.2,30,9.2z"/></svg></a>

  <div class="center-it animated fadeIn">
    <h1>Formula</h1>
    <h2>smart infant formula machine</h2>
  </div>
  <%= image_tag('down.png', alt: 'down arrow', class: 'down animated fadeIn', id: '') %>
</header>

<div id="iphone" class="feature feature-odd">
  <div class="product-width">
    <div class="feature-text">
      <p>With Poppy Formula, you can remotely control and schedule feedings from your mobile device via the Wink app.</p>
      <p>Get automatic refills on your favorite infant formula delivered by Amazon when the machine detects that you’re running low.</p>
      <p>Track and log feedings so you always know when and how much your baby has eaten.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('product_iphone.png', alt: 'iphone', class: '', id: '') %>
      <div id="screen-slides">
        <%= image_tag('formula/f1_screen.jpg', alt: 'app screenshot', class: '', id: '') %>
        <%= image_tag('formula/f2_screen.jpg', alt: 'app screenshot', class: '', id: '') %>
      </div>
    </div>
  </div>
</div>

<div id="bottles" class="feature feature-even">
  <div class="product-width">
    <div class="feature-text">
      <p>Use your favorite bottle; Poppy Formula is compatible with most standard sizes.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('formula/bottles.jpg', alt: 'bottles', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="carry" class="feature feature-odd">
  <div class="product-width">
    <div class="feature-text">
      <p>Prepares bottles quickly and at just the right temperature with simple, one-handed operation.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('formula/carry.jpg', alt: 'carrying baby', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="push" class="feature feature-even">
  <div class="product-width">
    <div class="feature-text">
      <p>Select exact 2, 4, 6, or 8-ounce servings.</p>
      <p>Its dispensing method will limit bubbles and clumps, and conserve healthy probiotics, vitamins, and nutrients.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('formula/push.jpg', alt: 'formula button', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="full-formula-image"></div>

<div id="machine">
  <%= image_tag('formula/machine.png', alt: 'formula', class: 'machine-base', id: 'formula-base') %>

     <div id="f1" class="plus">
      <span class="plus-icon animated infinite pulse">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
      </span>
      <div class="line"></div>
        <p>Airtight lid ensures freshness</p>
     </div>

     <div id="f2" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Select the perfect dosage and it will dispense exact 2, 4, 6, or 8-ounce servings</p>
     </div>

     <div id="f3" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Hopper holds an entire standard container of formula</p>
     </div>

     <div id="f4" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Dispensing method limits bubbles and clumps, and conserves healthy probiotics, vitamins, and nutrients</p>
     </div>

     <div id="f5" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Use your favorite bottle; Poppy Formula is compatible with most standard sizes</p>
     </div>

     <div id="f6" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Made with easy-to-clean, BPA-free, food-safe materials</p>
     </div>

  <div id="form-m-top" class="machine-top">
  </div>
  <div id="machine-bottom">
    <div class="product-width">

    <div id="inventor">
      <div id="inventor-photo">
        <%= image_tag('formula/inventor.jpg', alt: 'formula inventor', class: '', id: '') %>
      </div>
      <div id="inventor-right">
        <h2>Invented on Quirky by Wendy León, a web designer from Naples, FL</h2>
        <p>While babysitting for a friend, Wendy realized just how difficult it was to prepare a bottle while caring for an infant. This inspired her to make new parenthood a little easier for moms and dads everywhere.</p>
      </div>
    </div>

    </div>
  </div>
</div>
