<script type="text/javascript">
  init_home_js();
</script>

<section class="popup-video">


  <div class="width">
  <svg id="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5">
<path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4
  c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8
  c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"/>
</svg>



    <iframe id="pop" src="//player.vimeo.com/video/123626425?api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  </div>
</section>


<!-- Full Screen Video -->
<section id="header-video">
  <a id="mobile-menu"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.8 20"><path d="M30,18.5H0.8c-0.5,0-0.8,0.3-0.8,0.8C0,19.7,0.3,20,0.8,20H30c0.5,0,0.8-0.3,0.8-0.8C30.8,18.8,30.5,18.5,30,18.5z"/><path d="M0.8,1.5H30c0.5,0,0.8-0.3,0.8-0.8S30.5,0,30,0H0.8C0.3,0,0,0.3,0,0.8S0.3,1.5,0.8,1.5z"/><path d="M30,9.2H0.8C0.3,9.2,0,9.5,0,10c0,0.5,0.3,0.8,0.8,0.8H30c0.5,0,0.8-0.3,0.8-0.8C30.8,9.5,30.5,9.2,30,9.2z"/></svg></a>
  <%= image_tag "poppy.png", id: "footer-products", class: "logo animated fadeIn" %>
  <span class="play-icon animated fadeIn"></span>
  <%= image_tag "down.png", id: "footer-products", class: "down animated fadeIn" %>
</section>


<!-- Our Products -->
<section id="our-products" class="section">
  <div id="coming-soon">
      <h1>We make smart, beautifully designed products that think for you.</h1>
      <p>They’re not just connected—they’re truly thoughtful. They anticipate your needs <br>and make intelligent decisions to keep your family happy and healthy.</p>
      <span class="coming-in" id="product-scroll-target">Coming late 2015</span>
  </div>

  <div id="product-boxes">
    <div class="width-wrapper">

      <div class="product-box">
        <a href="<%= pour_over_path %>">
          <%= image_tag "coffee.jpg", id: "footer-products", alt: "coffee" %>
          <h2>Pour-Over</h2>
          <span class="go">Go</span>
        </a>
      </div>

      <div class="product-box">
        <a href="<%= formula_path %>">
          <%= image_tag "formula.jpg", id: "footer-products", alt: "formula" %>
          <h2>Formula</h2>
          <span class="go">Go</span>
        </a>
      </div>

      <div class="product-box">
        <a href="<%= pet_path %>">
          <%= image_tag "pet.jpg", id: "footer-products", alt: "pet" %>
          <h2>Pet</h2>
          <span class="go">Go</span>
        </a>
      </div>

    </div>
  </div>
</section>


<!-- Pour Over -->
<section id="pour-over-h" class="product">
  <div class="width-wrapper">
    <%= image_tag "coffee_video.jpg", class: "video_static", alt: "coffee" %>
    <div class="product-text">

      <video id="pour-over-video">
          <source src="<%= asset_path "pour-over2.mp4" %>" type="video/mp4" />
          <source src="<%= asset_path "pour-over2.webm" %>" type="video/webm" />
          <source src="<%= asset_path "pour-over2.ogv" %>" type="video/ogg" />
      </video>
      <h1>Pour-Over</h1>
      <h2>smart artisanal coffee machine</h2>
      <p>We carefully handcrafted this machine in San Francisco, a city that’s perfected the pour-over, because we understand the importance of a truly outstanding cup. It’s the world’s first fully automatic pour-over coffee maker, designed to recreate the boutique brewing experience in your home.</p>
      <a href="<%= pour_over_path %>" class="learn-more">Learn More</a>





    </div>
  </div>
</section>

<!-- Formula -->
<section id="formula-h" class="product">
  <div class="width-wrapper cf">
    <%= image_tag "formula_video.jpg", class: "video_static", alt: "formula" %>
    <div class="product-text">
      <h1>Formula</h1>
      <h2>smart infant formula machine</h2>
      <p>Nobody said new parenthood was easy—until now. While others stress over feedings, you'll be worry-free with Poppy Formula. Providing peace of mind and a much-needed extra set of hands, it prepares bottles quickly and at just the right temperature with simple, one-handed operation.</p>
      <a href="<%= formula_path %>" class="learn-more">Learn More</a>
            <video id="formula-video">
          <source src="<%= asset_path "formula.mp4" %>" type="video/mp4" />
          <source src="<%= asset_path "formula.webm" %>" type="video/webm" />
          <source src="<%= asset_path "formula.ogv" %>" type="video/ogg" />
      </video>
    </div>

  </div>
</section>

<!-- Pet -->
<section id="pet-h" class="product">
  <div class="width-wrapper">
    <%= image_tag "pet_video.jpg", class: "video_static", alt: "pet" %>
    <div class="product-text">
      <h1>Pet</h1>
      <h2>smart pet feeder</h2>
      <p>A feeder that actually thinks about your animal’s needs, Poppy Pet takes the guesswork out of pet care. Track when your furry friend eats and how much is left in the bowl, schedule meals on the go, and get automatic refills on food when the storage container detects that you’re running low.</p>
      <a href="<%= pet_path %>" class="learn-more">Learn More</a>
    </div>
        <video id="pet-video">
          <source src="<%= asset_path "pet.mp4" %>" type="video/mp4" />
          <source src="<%= asset_path "pet.webm" %>" type="video/webm" />
          <source src="<%= asset_path "pet.ogv" %>" type="video/ogg" />
      </video>
  </div>
</section>

<!-- Poppy Cares! -->
<section id="we-care">
  <div id="poppy-cares">
    <h1>Poppy products think for you.</h1>
    <p>They work with Dash Replenishment Service by Amazon to reorder<br>the things that keep your household running smoothly.</p>
  </div>

  <div id="feature-boxes">
    <div class="width-wrapper">

      <div class="feature-box">
        <div class="feature-image-background">
          <%= image_tag "coffee.png", id: "coffee", alt: "coffee" %>
            <%= image_tag "coffee_1.png", id: "wing1", alt: "wing 1", class: "wow fadeIn", "data-wow-delay" => "0s" %>
            <%= image_tag "coffee_2.png", id: "wing2", alt: "wing 2", class: "wow fadeIn", "data-wow-delay" => ".5s" %>
            <%= image_tag "coffee_3.png", id: "wing3", alt: "wing 3", class: "wow fadeIn", "data-wow-delay" => "1s" %>
        </div>
        <div class="feature-box-text">
          <h2>Smart Sensors</h2>
          <p>Sensors know when it’s time to refill pet food, baby formula, coffee, filters, and more.</p>
        </div>
      </div>

      <div class="feature-box">
        <div class="feature-image-background">
          <%= image_tag "popup.png", id: "accio", alt: "dialog", class: "wow zoomIn", "data-wow-delay" => ".5s" %>
        </div>
        <div class="feature-box-text">
          <h2>Effortless Ordering</h2>
          <p>The products connect to your Amazon
          account to reorder your preferred brands.</p>
        </div>
      </div>

      <div class="feature-box">
        <div class="feature-image-background">
          <%= image_tag "amazon.png", id: "amazon", alt: "amazon", class: "wow fadeInDown", "data-wow-delay" => "1s" %>
        </div>
        <div class="feature-box-text">
          <h2>Automatic Delivery</h2>
          <p>Refills of exactly what you need are delivered just when you need them.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Remote Control -->
<section id="remote-control">
  <div id="slider">

    <div class="slide1">
      <div class="width-wrapper">
        <div class="slide-text">
          <h1>Hello, connected home.</h1>
          <p>Poppy products connect to the Wink app<br>
          so you can control, monitor, or schedule them from anywhere.</p>
        </div>
        <div class="slide-hand">
          <%= image_tag "hand_1.jpg" %>
        </div>
        <%= image_tag "pourover_blur.jpg", id: "trash", alt: "pour-over blur" %>
      </div>
    </div>

    <div class="slide2">
      <div class="width-wrapper">
        <div class="slide-text">
          <h1>Hello, connected home.</h1>
          <p>Poppy products connect to the Wink app<br>
          so you can control, monitor, or schedule them from anywhere.</p>
        </div>
        <div class="slide-hand">
          <%= image_tag "hand_2.jpg" %>
        </div>
        <%= image_tag "formula_blur.jpg", id: "trash", alt: "formula blur" %>
      </div>
    </div>

    <div class="slide3">
      <div class="width-wrapper">
        <div class="slide-text">
          <h1>Hello, connected home.</h1>
          <p>Poppy products connect to the Wink app<br>
          so you can control, monitor, or schedule them from anywhere.</p>
        </div>
        <div class="slide-hand">
          <%= image_tag "hand_3.jpg" %>
        </div>
        <%= image_tag "trash_blur.jpg", id: "trash", alt: "trash blur" %>
      </div>
    </div>


  </div>
</section>


<script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
<script>

var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0; 
if(isSafari == true) { 
  $('#pet-h').css('background-color', '#2f2f31');
  $('#pour-over-h').css('background-color', '#2f2f31');  
}

$(document).ready(function(){
  $(".width").fitVids();
});

var iframe = $('#pop')[0];
var player = $f(iframe);


$('.play-icon').click(function(){
  $('.popup-video').css('left', 0)
  $('.popup-video').addClass('pop-fade-in')
  player.api("play");
})

$('#close-popup, .popup-video').click(function(){
  $('.popup-video').removeClass('pop-fade-in')
  setTimeout(function() {
  $('.popup-video').css('left', '-100%')
  }, 300);
      player.api('pause');

})


</script>