<div class="legal">


  <div class="ppolicy">
    <h2>Privacy Policy</h2>
  </div>

  <div class="product-width">

    <h3>SAFE HARBOR</h3>

    <p>Quirky complies with the U.S. - EU Safe Harbor framework and the U.S. - Swiss Safe Harbor framework as set forth by the U.S. Department of Commerce regarding the collection, use and retention of personal data from European Union member countries and Switzerland. Quirky has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access and enforcement. To learn more about the Safe Harbor program and to view Quirky's certification, please visit <a href="http://www.export.gov/safeharbor">http://www.export.gov/safeharbor/</a>.</p>

    <p>If you have any complaints regarding our compliance with the Safe Harbor you should first contact us at legalnotice@quirky.com. If contacting us does not resolve your complaint, you may raise your complaint with TRUSTe at <a href="https://feedback-form.truste.com/watchdog/request">https://feedback-form.truste.com/watchdog/request</a>, fax to 415-520-3420, or mail to TRUSTe Safe Harbor Compliance Dept. at the relevant address listed at <a href="http://www.truste.com/about-TRUSTe/contact-us">http://www.truste.com/about-TRUSTe/contact-us</a>. If you are faxing or mailing TRUSTe to lodge a complaint, you must include the following information: the name of Company, the alleged privacy violation, your contact information, and whether you would like the particulars of your complaint shared with the Company. For information about TRUSTe or the operation of TRUSTe's dispute resolution process, point your Internet bowser to <a href="https://feedback-form.truste.com/watchdog/request">https://feedback-form.truste.com/watchdog/request</a>, or request this information from TRUSTe at any of the addresses listed at <a href="http://www.truste.com/about-TRUSTe/contact-us">http://www.truste.com/about-TRUSTe/contact-us</a>. The TRUSTe dispute resolution process shall be conducted in English. For human resources data we have agreed to cooperate with national data protection authorities, a list of which can be found at <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.</p>


    <h3>COLLECTION AND USES OF YOUR PERSONAL INFORMATION</h3>

    <p>You acknowledge and agree that Quirky, in its sole discretion, may track, record, observe or follow any and all of your interactions within the Services. Except as otherwise provided herein, including without limitation, in the Section "Media Waiver", the Personally Identifiable Information you provide to us is used for the Company's internal purposes only. Quirky uses the information it collects to learn what you like and to improve the Services.</p>

    <p>Depending on what Services you use on the Site, Quirky may request Personally Identifiable Information from you, including but not limited to your full name, a valid email address and username and/or password, billing address, credit card information, proof of identification and physical mailing address.</p>

    <p>You are required to provide a valid email address during User registration that will represent your identity on the Site. You may opt to provide your full name, gender, birthday, location and other personal information to be publicly displayed in connection with your account and activity on the Site. While we'd prefer that all Users use their real names, Quirky offers an alias option for those who'd prefer more anonymity.</p>

    <p>Your chosen name is publicly displayed and connected to your Site activity. Other information visitors to the Site may see includes, without limitation, your date joined, profile information, feedback, total earnings to date, Product Ideas submitted, Product Ideas influenced.</p>

    <p>Some Users may connect to or register a Quirky account using an external third-party application, such as Facebook. Quirky may receive some data from those connected third-party applications. Connecting your Quirky account to third-party applications or services is optional, and when you connect your account to an external application, you will be given the opportunity to grant permission. You can revoke your permission under your Quirky account settings.</p>

    <p>You agree that Quirky may communicate with you via email and any similar technology for any purpose relating to the Site.</p>


    <h3>CONTROLLING AND ACCESSING YOUR PERSONAL INFORMATION</h3>

    <p>Content in a User profile on the Site is publicly available. Site visitors may be able to identify you, or associate you with your User account if you include Personally Identifiable Information in your profile. The messages you send or receive using the Site are only private to the extent that you and the sender/recipient keep them private. Quirky does not have any control over whether a recipient of one of your personal messages publicly posts it or its contents.</p>

    <p>You can access and update your personal information and communication settings by selecting the "Edit Your Profile" option on your account dashboard. You may also terminate your account at any time by emailing Quirky at questions@quirky.com.</p>


    <h3>SHARING YOUR PERSONAL INFORMATION</h3>

    <p>Quirky will not give any of your Personally Identifiable Information to any third party or otherwise disclose your Personally Identifiable Information without your express approval except: as reasonably necessary to fulfill your service request or purchase order, to third-party fulfillment houses, customer support, billing and credit verification services, and the like; to learn what you like and to improve the Services; to communicate with you regarding the Services and the Company's business; to comply with tax and other applicable law; as otherwise expressly permitted by this Agreement or as otherwise authorized by you; to law enforcement or other appropriate third parties in connection with criminal investigations and other investigations of fraud; in connection with a merger, sale, reorganization, dissolution or liquidation of Quirky businesses, to prospective or actual acquirers of Quirky assets; or as otherwise necessary to protect the Company, its agents and other users of the Services. Quirky can (and you authorize Quirky to) disclose any information about you to private entities, law enforcement agencies or government officials, as Quirky, in its sole discretion, believes necessary or appropriate to investigate or resolve possible problems or inquiries, or as otherwise required by law. The Company may share general, demographic, or aggregated information with third parties about its Users and their User Content and Site usage, but that information will not include or be linked to any Personally Identifiable Information without your consent.</p>


    <h3>SECURITY OF YOUR PERSONAL INFORMATION</h3>

    <p>Quirky follows generally accepted industry standards for the protection of the Personally Identifiable Information that you submit, both during transmission and after receipt. However, no method of transmission over the Internet or via mobile device, or method of electronic storage, is 100% secure. Therefore, although we strive to use commercially acceptable means to protect your Personally Identifiable Information, we do not guarantee the security of any of your private transmissions against unauthorized or unlawful interception or access by third parties.</p>


    <h3>RETENTION OF YOUR PERSONAL INFORMATION</h3>

    <p>We may keep the information that we obtain from or about you as long as is permitted or required under the law, and use as authorized under this Privacy Policy. If your account is deleted, we will remove your profile from the Site, but may retain your information as necessary for our future use as authorized under this Privacy Policy. If your account is terminated, we will terminate your access to your account, but will not remove your profile from the Site, and may retain your information as necessary for our future use as authorized under this Privacy Policy. We may use retained data to prevent, investigate, or identify possible wrongdoing in connection with the Site or to comply with legal obligations. Information may exist in backup storage even after it has been removed from our active databases. If you are located in the European Union or other regions with laws governing data collection and use that differ from United States law, please note that we may transfer information, including Personally Identifiable Information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction. By using the Site and/or Services you consent to the transfer of information to the United States or to any country in which Quirky maintains facilities and the use and disclosure of information about you as described in this Agreement.</p>


    <h3>COOKIES</h3>

    <p>Quirky uses a browser feature known as a "cookie," which is a small text file number that is stored on your hard drive when you begin to navigate the Site. The cookies used by the Site do not contain any Personally Identifiable Information about you, but they may identify your specific computer. If you would like to disable cookies from Quirky, please use the help function in your web browser to restrict cookies from the Site. If you block cookies from Quirky, you may not be able to use certain functions or features of the Site.</p>

    <p>Quirky may also use cookies to track activity and click-through behavior to better understand Users' preferences and browsing habits, and to provide a more personalized experience while visiting the Site, and for more personalized e-mail alerts.</p>

    <p>Quirky uses third-party advertising services to serve Quirky ads when you visit the Site and sites upon which we advertise (often referred to as "online network advertising"). This advertising technology uses information about your visits to this Site and the sites upon which we advertise (not including your Personally Identifiable Information) to serve Quirky ads to you. In the course of serving Quirky advertisements to you, a unique third-party cookie may be placed or recognized on your browser.</p>

    <p>As of the Effective Date of Last Revision of these Terms of Use, you may manage and opt out of third-party cookie-based advertising by visiting http://www.networkadvertising.org/choices/. Quirky is not affiliated with, and does not control, the foregoing website, so does not represent or warrant its performance or availability to Users.</p>


    <h3>LINKED WEBSITES, SERVICES</h3>

    <p>The Site may contain links to websites other than the Site, and redirection or pass-through to, or integration of, services other than the Services. Except as set forth herein, Quirky does not share your Personally Identifiable Information with these websites and services, nor is Quirky responsible for the privacy practices of these websites and services. Quirky makes no representations or warranties concerning such websites and services, nor shall Quirky have any liability concerning such websites and services.</p>


    <h3>BLOG, FORUMS, CHAT ROOMS AND PARTICIPATE PAGES</h3>

    <p>The blog, forums, chat rooms and participate pages of the Site are public. The information that you provide in such portions of the Site is publicly available to others, and can be read, collected and/or used by others, potentially outside the Site. Finally, the opinions expressed by each blog, forum, chat room or participate page participant (who is not an employee of Quirky) is his/her own and do not represent the views of Quirky.</p>


    <h3>CHILDREN'S PRIVACY</h3>

    <p>The Site is not directed to or intended to be used by children under the age of 18. Quirky does not knowingly collect Personally Identifiable Information from children under the age of 18. If Quirky learns that it has collected Personally Identifiable Information of a child under the age of 18 without parental consent, we will delete that data from our systems and terminate the child's account. If you become aware that a child has provided Quirky with Personally Identifiable Information without parental consent, please contact Quirky at <a href="mailto:legalnotice@quirky.com">legalnotice@quirky.com</a>.</p>


    <h3>CONTACT QUIRKY</h3>

    <p>If you have questions, suggestions or concerns related to this Privacy Policy, you may contact Quirky at <a href="mailto:legalnotice@quirky.com">legalnotice@quirky.com</a>.</p>


    <h3>UPDATES TO THIS PRIVACY POLICY</h3>

    <p>Quirky may change, modify, add, or delete portions of this Privacy Policy at any time pursuant to the process disclosed above for changes to this Agreement.</p>


    <h4>Dispute Resolution; Governing Law; Venue and Jurisdiction</h4>


    <p>By visiting or using the Site and/or the Services, you agree that the laws of the State of New York, without regard to principles of conflict of laws, will govern these Terms of Use and any dispute of any sort that might arise between you and the Company or any of our affiliates.</p>

    <p>YOU AND THE COMPANY AGREE THAT THE SOLE AND EXCLUSIVE FORUM AND REMEDY FOR ANY AND ALL DISPUTES AND CLAIMS RELATING IN ANY WAY TO OR ARISING OUT OF THIS AGREEMENT, THE SITE AND/OR THE SERVICES (INCLUDING YOUR VISIT TO OR USE OF THE SITE AND/OR THE SERVICES) SHALL BE FINAL AND BINDING ARBITRATION, except that Quirky may seek injunctive relief in state or federal court located in New York County, New York concerning violation by a User of any of the User conduct rules set forth above, and in such case, the parties acknowledge that arbitration is not an adequate remedy at law and that injunctive or other appropriate relief may be sought.</p>

    <p>Arbitration under this Agreement shall be conducted by the American Arbitration Association (the "AAA") under its Commercial Arbitration Rules and, in the case of consumer disputes, the AAA's Supplementary Procedures for Consumer Related Disputes ( the "AAA Consumer Rules") (collectively the "AAA Rules"). The location of the arbitration and the allocation of costs and fees for such arbitration shall be determined in accordance with such AAA Rules and shall be subject to the limitations provided for in the AAA Consumer Rules (for consumer disputes). The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction.</p>

    <p>To the fullest extent permitted by applicable law, YOU AND QUIRKY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, AND THAT NO ARBITRATION OR CLAIM UNDER THESE TERMS OF USE SHALL BE JOINED TO ANY OTHER ARBITRATION OR CLAIM, INCLUDING ANY ARBITRATION OR CLAIM INVOLVING ANY OTHER CURRENT OR FORMER USER OF THE SERVICES. In no event shall any claim, action or proceeding by you related in any way to the Site and/or the Services (including your visit to or use of the Site and/or the Services) be instituted more than three (3) years after the cause of action arose.</p>


    <h4>General Provisions</h4>

    <p>The Site and the Services is controlled and operated by Quirky from its offices within the United States of America. The Company makes no representation that any aspect of the Services is appropriate or available for use in jurisdictions outside of the United States. Those who choose to access the Services from other locations are responsible for compliance with applicable local laws. You must comply with all export and import laws and restrictions and regulations of any United States or foreign agency or authority relating to the Services and its use.</p>

    <p>The Company's failure to act with respect to a breach by you or others does not waive Quirky's right to act with respect to that breach or subsequent or similar breaches. No consent or waiver by Quirky under this Agreement shall be deemed effective unless delivered in a writing signed by a duly appointed officer of the Company. All or any of Quirky's rights and obligations under this Agreement may be assigned to a subsequent owner or operator of the Site and/or the Services in a merger, acquisition or sale of all or substantially all of the Company's assets. You may not assign or transfer this Agreement or any or all of your rights or obligations hereunder without the prior written consent of the Company, and any attempt to do so is void. Notwithstanding anything else in this Agreement, no default, delay or failure to perform on the part of Quirky shall be considered a breach of this Agreement if such default, delay or failure to perform is shown to be due to causes beyond the reasonable control of Quirky.</p>

    <p>This Agreement sets forth the entire understanding and agreement between you and Quirky with respect to the subject matter hereof. The section headings used herein, including descriptive headings, are for convenience only and shall not affect the interpretation of this Agreement. If any provision of this Agreement shall be held by a court of competent jurisdiction to be unlawful, void, or for any reason unenforceable, then in such jurisdiction that provision shall be deemed severable from these terms and shall not affect the validity and enforceability of the remaining provisions.</p>

    <p>Quirky may give notice to you by means of a general notice on the Site, by electronic mail to your e-mail address in our records for your Account, or by written communication sent by first class mail, postage prepaid, or overnight courier to your address on record for your Account. All notices given by you or required under this Agreement shall be mailed to us at <a href="mailto:legalnotice@quirky.com">legalnotice@quirky.com</a> unless otherwise provided in this Agreement.</p>

    <p>Poppy is a trademark of Quirky, Inc.  All rights reserved.</p>
  </div>
</div>