<script type="text/javascript">
  init_product_js();
</script>

<header id="pet-header" class="product-header">
  <div class="product-width">
      <a href="<%= root_path %>"><%= image_tag('poppy.png', alt: 'poppy logo', class: 'animated fadeIn', id: 'nav-logo') %></a>
  </div>

  <a id="mobile-menu-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.8 20"><path d="M30,18.5H0.8c-0.5,0-0.8,0.3-0.8,0.8C0,19.7,0.3,20,0.8,20H30c0.5,0,0.8-0.3,0.8-0.8C30.8,18.8,30.5,18.5,30,18.5z"/><path d="M0.8,1.5H30c0.5,0,0.8-0.3,0.8-0.8S30.5,0,30,0H0.8C0.3,0,0,0.3,0,0.8S0.3,1.5,0.8,1.5z"/><path d="M30,9.2H0.8C0.3,9.2,0,9.5,0,10c0,0.5,0.3,0.8,0.8,0.8H30c0.5,0,0.8-0.3,0.8-0.8C30.8,9.5,30.5,9.2,30,9.2z"/></svg></a>

  <div class="center-it animated fadeIn">
    <h1>Pet</h1>
    <h2>smart pet feeder</h2>
  </div>
  <%= image_tag('down.png', alt: 'down arrows', class: 'down animated fadeIn', id: '') %>
</header>

<div id="iphone" class="feature feature-odd">
  <div class="product-width">
    <div class="feature-text">
      <p>With Poppy Pet, you can monitor your pet’s eating habits, remotely schedule feedings, and dispense perfectly portioned meals with the Wink app.</p>
      <p>Get automatic refills on your favorite pet food delivered by Amazon when the machine detects that you’re running low.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('product_iphone.png', alt: 'iphone', class: '', id: '') %>
      <div id="screen-slides">
        <%= image_tag('pet/p1_screen.jpg', alt: 'app screenshot', class: '', id: '') %>
        <%= image_tag('pet/p2_screen.jpg', alt: 'app screenshot', class: '', id: '') %>

      </div>
    </div>
  </div>
</div>

<div id="cat" class="feature feature-even">
  <div class="product-width">
    <div class="feature-text">
      <p>Its locking lid and weighted base safeguard food, making it great for large-breed dogs and stealthy cats.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('pet/cat.jpg', alt: 'cat', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="dog" class="feature feature-odd">
  <div class="product-width">
    <div class="feature-text">
      <p>The modern design looks like it actually belongs in your home, not your garage.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('pet/dog_up.jpg', alt: 'dog up', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="app-user" class="feature feature-even">
  <div class="product-width">
    <div class="feature-text">
      <p>Its storage bin holds 20 pounds of dry food discreetly, and a sensor tells you when the bowl is empty or if it’s been knocked over.</p>
    </div>
    <div class="feature-image">
      <%= image_tag('pet/app_user.jpg', alt: 'app user', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="full-pet-image"></div>

<div id="machine">
  <%= image_tag('pet/machine.png', alt: 'pet feeder', class: 'machine-base', id: 'pet-base') %>

     <div id="pf1" class="plus">
      <span class="plus-icon animated infinite pulse">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
      </span>
      <div class="line"></div>
        <p>Locking lid and weighted base safeguard food</p>
     </div>

     <div id="pf2" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Holds 20 pounds of dry pet food discretely (a standard bag size)</p>
     </div>

     <div id="pf3" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Great for dogs and cats of all sizes</p>
     </div>

     <div id="pf4" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Sensor tells you when bowl is empty or if it’s been knocked over</p>
     </div>

  <div id="form-m-top" class="machine-top">
  </div>
  <div id="machine-bottom">
    <div class="product-width">

    <div id="inventor">
      <div id="inventor-photo">
        <%= image_tag('pet/inventor.jpg', alt: 'inventor', class: '', id: '') %>
      </div>
      <div id="inventor-right">
        <h2>Invented by Chris Becker, a UI/UX designer from West Bend, WI</h2>
        <p>Chris wanted to help his portly dogs lose weight. Smaller, more frequent meals were an option, but his schedule got in the way. So he invented a way to feed his pooches any time, from anywhere.</p>
      </div>
    </div>

    </div>
  </div>
</div>
