<script type="text/javascript">
  init_product_js();
</script>

<header id="pour-header" class="product-header">
  <div class="product-width">
      <a href="<%= root_path %>">
        <%= image_tag('poppy.png', alt: 'poppy logo', class: 'animated fadeIn', id: 'nav-logo') %>
      </a>
  </div>

  <a id="mobile-menu-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.8 20"><path d="M30,18.5H0.8c-0.5,0-0.8,0.3-0.8,0.8C0,19.7,0.3,20,0.8,20H30c0.5,0,0.8-0.3,0.8-0.8C30.8,18.8,30.5,18.5,30,18.5z"/><path d="M0.8,1.5H30c0.5,0,0.8-0.3,0.8-0.8S30.5,0,30,0H0.8C0.3,0,0,0.3,0,0.8S0.3,1.5,0.8,1.5z"/><path d="M30,9.2H0.8C0.3,9.2,0,9.5,0,10c0,0.5,0.3,0.8,0.8,0.8H30c0.5,0,0.8-0.3,0.8-0.8C30.8,9.5,30.5,9.2,30,9.2z"/></svg></a>

  <div class="center-it animated fadeIn">
    <h1>Pour-over</h1>
    <h2>smart artisanal coffee machine</h2>
  </div>
  <%= image_tag('down.png', alt: 'down arrow', class: 'down animated fadeIn', id: '') %>
</header>




<div id="iphone" class="feature feature-odd">
  <div class="product-width">
    <div class="feature-text">
      <p>Schedule Poppy Pour-Over to make a perfect cup or brew one on demand, and share your favorite settings with the pour-over community—all from the Wink app.</p>
      <p>Get automatic refills on your favorite coffee beans, water filters, and coffee filters delivered by Amazon when the machine detects that you’re running low.</p>
    </div>

    <div class="feature-image">
      <%= image_tag('product_iphone.png', alt: 'iphone', class: '', id: '') %>
      <div id="screen-slides">
        <%= image_tag('pour-over/po1_screen.jpg', alt: 'app screenshot', class: '', id: '') %>
        <%= image_tag('pour-over/po2_screen.jpg', alt: 'app screenshot', class: '', id: '') %>
      </div>
    </div>
  </div>
</div>

<div id="beans" class="feature feature-even">
  <div class="product-width">
    <div class="feature-text">
      <p>Brew boutique roasters’ beans exactly as they were intended with smart presets.</p>
    </div>

    <div class="feature-image">
      <%= image_tag('pour-over/beans.jpg', alt: 'beans', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="gear" class="feature feature-odd">
  <div class="product-width">
    <div class="feature-text">
      <p>Its burr grinder conserves essential oils by crushing rather than chopping beans.</p>
    </div>

    <div class="feature-image">
      <%= image_tag('pour-over/gear.jpg', alt: 'gear', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="pour" class="feature feature-even">
  <div class="product-width">
    <div class="feature-text">
      <p>The double-walled, grippable glass carafe maintains ideal drinking temperature.</p>
    </div>

    <div class="feature-image">
      <%= image_tag('pour-over/pour.jpg', alt: 'pouring', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="pour" class="feature feature-odd">
  <div class="product-width">
    <div class="feature-text">
      <p>Adjust variables like water temperature, grind size, and brew time to recreate the hand-crafted, pour-over process.</p>
    </div>

    <div class="feature-image">
      <%= image_tag('pour-over/coffee_drip.jpg', alt: 'pouring', class: '', id: '') %>
    </div>
  </div>
</div>

<div id="full-pour-image"></div>




<div id="machine">
    <%= image_tag('pour-over/machine.png', alt: 'pour-over', class: 'machine-base', id: 'pour-base') %>

     <div id="p1" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Hopper holds 1 ¼ pounds of coffee beans</p>
     </div>

     <div id="p2" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Beans are ground directly before brewing for maximum freshness</p>
     </div>

     <div id="p3" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Water reservoir holds 50 fluid ounces, enough to make 4 single servings<br>Built-in charcoal filter ensures water quality</p>
     </div>

     <div id="p4" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Uses paper coffee filters</p>
     </div>

     <div id="p5" class="plus">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Double-walled, grippable glass carafe maintains ideal drinking temperature
     </div>

     <div id="p6" class="plus ">
       <span class="plus-icon animated infinite pulse">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.000,8.000 C13.000,8.000 8.000,8.000 8.000,8.000 C8.000,8.000 8.000,13.000 8.000,13.000 C8.000,13.552 7.552,14.000 7.000,14.000 C6.448,14.000 6.000,13.552 6.000,13.000 C6.000,13.000 6.000,8.000 6.000,8.000 C6.000,8.000 1.000,8.000 1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.448 0.448,6.000 1.000,6.000 C1.000,6.000 6.000,6.000 6.000,6.000 C6.000,6.000 6.000,1.000 6.000,1.000 C6.000,0.448 6.448,-0.000 7.000,-0.000 C7.552,-0.000 8.000,0.448 8.000,1.000 C8.000,1.000 8.000,6.000 8.000,6.000 C8.000,6.000 13.000,6.000 13.000,6.000 C13.552,6.000 14.000,6.448 14.000,7.000 C14.000,7.552 13.552,8.000 13.000,8.000 Z" id="path-1" class="cls-2" fill-rule="evenodd"/></svg>
       </span>
      <div class="line"></div>
      <p>Makes single (10-ounce) or double (20-ounce) servings</p>
     </div>

  <div id="pour-m-top" class="machine-top">
  </div>
  <div id="machine-bottom">
    <div class="product-width">

    <div id="inventor">
      <div id="inventor-photo">
        <%= image_tag('pour-over/inventor.jpg', alt: 'inventor', class: '', id: '') %>
      </div>
      <div id="inventor-right">
        <h2>Invented on Quirky by Mo Herzig, an Internet marketer from Miami, FL</h2>
        <p>A tech-loving marketer who averages six cups of joe a day, Mo decided to combine his two passions by inventing a connected coffee machine that could keep him caffeinated with a single touch.</p>
      </div>
    </div>

    </div>
  </div>
</div>
