@font-face {
  font-family: 'AvenirBlack';
  src: url('AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Black.otf')  format('opentype'),
       url('AvenirLTStd-Black.woff') format('woff'), url('AvenirLTStd-Black.ttf')  format('truetype'), url('AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Medium.otf')  format('opentype'),
       url('AvenirLTStd-Medium.woff') format('woff'), url('AvenirLTStd-Medium.ttf')  format('truetype'), url('AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLight';
  src: url('AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Light.otf')  format('opentype'),
       url('AvenirLTStd-Light.woff') format('woff'), url('AvenirLTStd-Light.ttf')  format('truetype'), url('AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
