#footer-email {
  background-color: #a8b797;
  width: 100%;
  overflow: hidden;
  .width-wrapper {
    position: relative;
    height: 750px;
  }
  h2 {
    font-size: 30px;
    color: white;
    line-height: 1.7;
    margin-bottom: 20px;
  }
  img {
    position: absolute;
    right: 0;
    margin-right: -10%;
    width: 410px;
    top: 50%;
    margin-top: -205px;
  }
  form {
    width: 100%;
    float: left;
    position: relative;
    button {
      position: absolute;
      right: 0;
      top: 28px;
      background-color: rgba(255,255,255,.35);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(footer/submit.png);
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center center;
      &:hover {
        background-color: white;
      }
    }
    button.error {
      background-image: none;
      background-color: #FFFE9D;
      &:after {
        content: "!";
        font-family: 'AvenirBlack';
        font-size: 24px;
        line-height: 36px;
        color: #c4c379;
      }
    }
    input[type=email] {
      color: white;
      background: none;
      font-size: 40px;
      line-height: 2;
      border-bottom: 1px dotted #c5ceba;
      font-family: 'AvenirLight';
      width: 100%;
      padding-right: 60px;
      &:focus {
        border-color: white;
      }
    }
    input[type=email]:focus + button {
      background-color: white;
    }
    input[type=email]:focus + button:hover {
      background-color: rgba(255,255,255,.75);
    }
    *::-webkit-input-placeholder {
      color: #c5ceba;
    }
    *:-moz-placeholder {
      color: #c5ceba;
    }
    *::-moz-placeholder {
      color: #c5ceba;
    }
    *:-ms-input-placeholder {
      color: #c5ceba;
    }
  }
}

#footer-left {
  float: left;
  width: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

#footer-bottom {
  background-color: #242426;
  padding: 25px 0;
  a {
    color: #f5f5f5;
    font-family: 'AvenirBlack';
    &:hover {
      opacity: .5;
    }
  }
  ul {
    text-align: center;
  }
  li {
    display: inline;
    padding: 0 30px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
  }
}

#poppy-logo-footer {
  width: 83px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#email-success {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: none;
  padding-top: 5px;
  svg {
    fill: white;
  }
  p {
    color: #dfe4d9;
    font-size: 16px;
    margin-top: -15px;
  }
}

#email-error {
  font-size: 16px;
  color: #fffe9d;
  line-height: 50px;
  text-align: right;
  position: absolute;
  bottom: -50px;
  right: 0;
  display: none;
}

#interested {
  background-color: #6a7460;
  .product-width {
    background-image: url(bubble.svg);
    background-repeat: no-repeat;
    background-position: right -130px;
    background-size: 350px;
    padding-top: 100px;
    padding-bottom: 100px;

  }
  h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
  }
  a {
    color: #a8b698;
    font-size: 30px;
    &:hover {
      color: white;
    }
  }
}


@media only screen and (max-width: 960px) {
  #footer-email img {
    display: none;
  }

  #footer-email {
    .width-wrapper {
      height: 600px;
    }
    #footer-left {
      float: none;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 660px) {
  #footer-email {
    h2 {
      font-size: 20px;
      color: white;
      line-height: 1.7;
      margin-bottom: 20px;
    }
    form input[type=email] {
      color: white;
      background: none;
      font-size: 30px;
      padding-right: 60px;
    }
    form button {
      top: 10px;
    }
  }
  
  #interested {
    .product-width {
      background-position: right -130px;
    }
    a, h2 {
      font-size: 20px;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
  
}

@media only screen and (max-width: 560px) {
  #footer-bottom {
    li {
      padding: 0 15px;
    }
  }
}

@media only screen and (max-width: 415px) {
  #email-error {
    font-size: 13.5px;
  }
  #footer-bottom {
    overflow: hidden;
    li {
      width: 50%;
      float: left;
      text-align: center;
    }
    li:nth-child(1), li:nth-child(2) {
      padding-bottom: 25px;
    }
  }
}
