* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input, button {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

img {
  display: block;
}

button, a, .play-icon, .down {
  cursor: pointer; cursor: hand;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

a {
  text-decoration: none;
}

body {
  font-size: 100%;
  font-family: helvetica, serif;
  font-weight: normal;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  font-family: 'AvenirLight';
}

.width-wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.cf:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

button, a, .play-icon, .down {
  cursor: pointer; cursor: hand;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}


.down {
  position: absolute;
  width: 24px;
  left: 50%;
  margin-left: -12px;
  bottom: 35px;
  cursor: pointer; cursor: hand;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  &:hover {
    opacity: .6;
  }
}