#header-video {
  background-color: #28282a;
  background-image: url('video.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

#video-bg {
  display: block;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  max-height: 100vh;
  z-index: -100;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 223px;
  left: 50%;
  margin-left: -111px;
  top: 50%;
  margin-top: -95px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.play-icon {
  width: 50px;
  height: 50px;
  top: 50%;
  position: absolute;
  border-radius: 25px;
  background: #aab897;
  margin-left: -25px;
  margin-top: 40px;
  left: 50%;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  &:hover {
    background: #9ba88a;
  }
  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 14px;
    border-color: transparent transparent transparent #ffffff;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -11px;
  }
}

.popup-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  z-index: 999999999;
  transition: opacity .3s;
  left: -100%;
  opacity: 0;
  .width {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

#close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

#close {
  width: 20px;
  fill: white;
  right: 0;
  position: absolute;
  top: -35px;
  &:hover {
    cursor: pointer;
    fill: rgba(255,255,255,.5);
  }
}


.pop-fade-in {
  opacity: 1;
}