.legal {
  .ppolicy {
    background: #f5f5f5;
    padding: 111px 0 44px 0;
    h2 {
      text-align: center;
      text-transform: uppercase;
      color: #aab897;
      font-size: 32px;
      letter-spacing: 14px;
    }
  }
  .product-width {
    line-height: 1.8;
    margin-top: 60px;
    margin-bottom: 60px;
    h3 {
      color: #8d8d8d;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px;
      font-family: 'AvenirMedium';
      letter-spacing: 3px;
    }
    p {
      margin-bottom: 30px;
      color: #28282a;
      font-size: 14px;
      a {
        color: #7b8a66;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}