#master-navigation, #product-navigation, #fixed-nav {
  ul {
    padding: 24px;
    text-transform: uppercase;
  }
  li {
    display: inline;
    padding: 0 28px;
    position: relative;
  }
  li:last-child {
    padding-right: 0;
  }
  li:last-child:after {
    background: none;
  }
  a {
    color: white;
    font-family: 'AvenirBlack';
    letter-spacing: 3px;
    font-size: 11px;
    &:hover {
      opacity: .5;
    }
  }
}

#master-navigation, #product-navigation {
  transition: .5s;
  z-index: 10000;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
  display: block;
}

#nav-logo {
  -webkit-animation-delay: .7s;
  animation-delay: .7s; 
}

#master-navigation {
  width: 100%;
  position: absolute;
  transition: .2s;
  ul {
    text-align: center;
    display: block;
  }
}

#fixed-nav {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  z-index: 1000000000;
  width: 100%;
  display: none;
  ul {
    float: right;
    li:last-child {
      padding-right: 0;
    }
  }
  #nav-logo {
    margin: 0;
    padding: 20px 0;
  }
}

#mobile-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

#mobile-menu-2 {
  display: none;
}

#mobile-menu-3 {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

#nav-logo {
  width: 64px;
  float: left;
  margin-top: 20px;
}

#product-nav-width {
  position: relative;
}

#product-navigation {
  position: absolute;
  right: 0;
}

#legal #product-navigation {
  display: none;
}

#legal #fixed-nav {
  display: block;
}

@media only screen and (min-width: 961px) { 
  #master-navigation, #product-navigation {
    display: block!important;
  }
}

@media only screen and (max-width: 960px) {
  #fixed-nav ul li {
    padding: 15px;
  }

  #product-nav-width {
    width: 100%;
  }

  #product-nav-width {
    position: relative;
  }

  #product-navigation {
    position: relative;
    width: 100%;
    display: none;
    animation-duration: 0;
    animation-delay: 0;
    -webkit-animation-duration: 0;
    -webkit-animation-delay: 0;
    ul {
      padding: 0;
    }
    li {
      text-align: center;
      display: block;
      background: #28282a;
      padding: 0;
      a {
        padding: 20px;
        display: block;
      }
    }
  }

  #mobile-menu-3 {
    display: block;
    width: 31px;
    height: 20px;
    right: 20px;
    top: 20px;
    svg {
      width: 31px;
      height: 20px;
      fill: white;
    }
  }
}

@media only screen and (max-width: 740px) {
  #master-navigation {
    width: 100%;
    position: relative;
    display: none;
    animation-duration: 0;
    animation-delay: 0;
    -webkit-animation-duration: 0;
    -webkit-animation-delay: 0;
    transition: 0;
    ul {
      padding: 0;

    }
    li {
      text-align: center;
      display: block;
      background: #28282a;
      a {
        padding: 20px;
        display: block;
      }
    }
    li:last-child {
      padding-left: 0;
    }
  }

  #fixed-nav ul {
    display: none;
    animation-duration: 0;
    animation-delay: 0;
    -webkit-animation-duration: 0;
    -webkit-animation-delay: 0;
  }

  #mobile-menu {
    display: block;
    width: 31px;
    height: 20px;
    svg {
      width: 31px;
      height: 20px;
      fill: white;
    }
  }

  #mobile-menu-2 {
    float: right;
    width: 31px;
    height: 20px;
    padding: 22px 0;
    display: block;
    svg {
      width: 31px;
      height: 20px;
      fill: white;
    }
  }

  #fixed-nav {
    ul {
      position: fixed;
      margin-top: 67px;
      left: 0;
      width: 100%;
      padding: 0;
      background: #28282a;
      display: none;
      li {
        padding: 20px;
        text-align: center;
        display: block;
        &:last-child {
          padding: 20px;
        }
        a {
          display: block;
        }
      }
    }
    #nav-logo {
      margin: 0;
      padding: 20px 0;
    }
  }
}