#our-products {
  background-color: white;
  background-image: url('lines.jpg');
  background-size: 100%;
  background-size: cover;
  text-align: center;
  .go {
    background: fff;
  }
  a:hover .go {
    color: #fff;
    background: #aab897;
  }
  h1 {
    color: #28282a;
    font-size: 30px;
    font-family: 'AvenirLight';
    margin-bottom: 30px;
    padding: 0 15px;
  }
  h2 {
    font-family: 'AvenirMedium';
    color: #939394;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0 15px 0;
  }
  p {
    font-size: 19px;
    line-height: 1.6;
    color: #757576;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  span {
    color: #aab897;
    font-family: 'AvenirBlack';
    text-transform: uppercase;
    display: block;
    width: 210px;
    padding: 9px 0 7px 0;
    border-radius: 15px;
    font-size: 11px;
    margin: 0 auto;
    letter-spacing: 2px;
  }
  img {
    max-width: 100%;
  }
  .product-box:nth-child(2) {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }
  .go {
    font-family: 'AvenirBlack';
    color: #aab897;
    font-size: 11px;
    padding: 5px 0 4px 0;
    text-transform: uppercase;
    border: 1px solid #aab897;
    display: block;
    width: 45px;
    letter-spacing: 1px;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    &:hover {
      color: #fff;
      background: #aab897;
    }
  }
  span.coming-in {
    background-color: #f2f4f0;
  }
}

#coming-soon {
  padding: 130px 0;
  margin: 0 auto;
}

#product-boxes {
  border-top: 1px solid #ebebeb;
  background: white;
}
.product-box {
  width: 33.33333333333%;
  float: left;
  padding: 50px 60px;
}


@media only screen and (max-width: 730px) {
  #coming-soon {
    padding: 50px 0;
    margin: 0 auto;
  }
  #product-boxes {
    border: none;
  }
  .product-box {
    width: 100%;
    float: none;
    border-top: 1px solid #ebebeb;
    padding: 20px;
    img {
      width: 250px;
      margin: 0 auto;
    }
  }
  #our-products .product-box, #our-products .product-box:nth-child(2) {
    border: 0;
  }
}