.product {
  font-family: 'AvenirLight';
  font-weight: normal;
  .width-wrapper {
    position: relative;
  }
  h1 {
    color: #aab897;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  h2 {
    color: white;
    font-size: 25px;
    font-weight: normal;
  }
  p {
    color: #f5f5f5;
    font-size: 16px;
    line-height: 1.9;
    margin: 35px 0;
  }
}

.product-text {
  width: 50%;
  padding: 200px 0;
}

.learn-more {
  font-family: 'AvenirBlack';
  border: 2px solid #aab897;
  padding: 13px 25px 11px 25px;
  width: 180px;
  color: #aab897;
  display: inline-block;
  border-radius: 20px;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    background-color: #aab897;
    color: #fff;
  }
}

#pour-over-h {
  background: #2A282C;
  width: 100%;
  overflow: hidden;
  position: relative;
  .product-text {
    z-index: 10;
    position: relative;
  }
}

.product-text {
  width: 50%;
  padding: 200px 0;
}


#pour-over-video {
  position: absolute;
  height: 170%;
  top: -20%;
  left: 100%;
  right: -100px;
}


#formula-h {
  position: relative;
  overflow: hidden;
  .product-text {
    float: right;
  }
  p, h2 {
    color: #28282a;
  }
  .learn-more {
    text-align: center;
    color: #aab897;
    &:hover {
      color: white;
    }
  }
  #formula-video {
    height: 190%;
    left: -600px;
    top: -200px;
    z-index: -1;
    position: absolute;
  }
}


.video_static {
  display: none;
}

#pet-h{
  background: #2A282C;
  position: relative;
  overflow: hidden;
  .width-wrapper {
    height: 738px;
  }
  .product-text {
    z-index: 200;
    position: absolute;
  }
  #pet-video {
    position: absolute;
    max-height: 130%;
    top: -80px;
    left: 35%;
  }
}


@media only screen and (max-width: 800px) {
  #pour-over-h, #pet-h {
    background-color: #29272C!important;
  }
  #pour-over-h, #formula-h, #pet-h {
    text-align: center;
    .product-text {
      width: 100%;
      padding: 0 0 50px 0;
      margin-top: 0px;
    }
    video {
      display: none
    }
  }

.video_static {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 50px auto 0 auto;
}
}

