#remote-control {
  background-color: #181818;
  text-align: center;
  overflow: hidden;
  .width-wrapper {
    position: relative;
    max-width: 1100px;
  }
  h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
    padding: 0 15px;
  }
  p {
    font-size: 19px;
    color: #c5c5c5;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0 15px;
  }
}

#slider {
  margin-bottom: -10px;
}

.slide-hand {
  height: 450px;
  position: relative;
  img {
    height: 450px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.slide-text {
    padding-top: 90px;
    padding-bottom: 20px;

}

#trash {
  position: absolute;
  width: 250px;
  top: 0;
  right: 0;
  z-index: -1;
}

.owl-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -39px;
}

#trash {
  width: 287px;
  right: 0;
  top: -100px;
  position: absolute;
}

@media only screen and (max-width: 1100px) {
  #slider {
    margin-bottom: -10px;
    .width-wrapper {
      width: 100%;
    }
  }
  .slide-hand {
    height: 350px;
    position: relative;
    width: 100%;
    overflow: hidden;
    img {
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -300px;
    }
  }
  .slide-text {
    padding-top: 90px;
    padding-bottom: 20px;
  }
  #trash {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .slide-hand {
    height: 300px;
    img {
      margin-left: -300px;
    }
  }
}