.product-width {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

#pour-header {
  background-image: url(pour-over/top_bg.jpg);
}

#formula-header {
  background-image: url(formula/top_bg.jpg);
}

#pet-header {
  background-image: url(pet/top_bg.jpg);
  h1 {
    padding-left: 17px;
  }
}

.product-header {
  min-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
  .center-it {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
  }
  h1 {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 22px;
  }
  h2 {
    font-size: 25px;
  }
  .next-section {
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 24px;
    margin-left: -12px;
  }
}

.feature {
   .product-width {
      position: relative;
      overflow: hidden;
   }
   .feature-text {
        padding: 0 70px;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
   }
  img {
  width: 100%;
  }
  p {
    font-size: 20px;
    color: #757576;
    line-height: 1.7;
  }
  p+p {
    margin-top: 24px;
  }
}

.feature-odd {
  background-color: #f5f5f5;
  .feature-text {
    float: left;
  }
  .feature-image {
    float: right;
  }
}

.feature-even {
  background-color: white;
  .feature-text {
    right: 0;
  }
  .feature-image {
    float: left;
  }
}

#iphone {
    background-image: url('pour-over/iphone_bg.jpg');
    background-size: cover;
    .owl-pagination {
      display: none;
    }
    p {
      color: #717172;
    }
  .feature-image {
    max-width: 525px;
    position: relative;
  }
  .feature-text {
    max-width: 570px;
  }
}

#screen-slides {
  position: absolute;
  width: 320px;
  top: 140px;
  left: 103px;
  img {
    width: 320px;
  }
}

#beans {
  .feature-image {
    max-width: 480px;
  }
  .feature-text {
    max-width: 620px;
  }
}

#gear {
  .feature-image {
    max-width: 530px;
  }
  .feature-text {
    max-width: 570px;
  }
}

#pour {
  .feature-image {
    max-width: 570px;
  }
  .feature-text {
    max-width: 530px;
  }
}

#bottles {
  .feature-image {
    max-width: 530px;
  }
  .feature-text {
    max-width: 570px;
  }
}

#carry {
  .feature-image {
    max-width: 570px;
  }
  .feature-text {
    max-width: 530px;
  }
}

#push {
  .feature-image {
    max-width: 405px;
  }
  .feature-text {
    max-width: 570px;
  }
}


#cat {
  .feature-image {
    max-width: 345px;
  }
  .feature-text {
    max-width: 570px;
  }
}

#dog {
  .feature-image {
    max-width: 570px;
  }
  .feature-text {
    max-width: 530px;
  }
}

#app-user {
  .feature-image {
    max-width: 530px;
  }
  .feature-text {
    max-width: 570px;
  }
}






#full-pour-image, #full-formula-image, #full-pet-image {
  background-position: center center;
  background-size: cover;
  min-height: 540px;
  width: 100%;
}

#full-pour-image {
  background-image: url(pour-over/cup.jpg);
}

#full-formula-image {
  background-image: url(formula/baby.jpg);
}

#full-pet-image {
  background-image: url(pet/bowl.jpg);
}

#machine {
  position: relative;
  .width-wrapper {
    height: 817px;
    width: 960px;
  }
}

.machine-base {
  position: absolute;
  bottom: 0;
  left: 50%;
}

#pour-base {
  width: 317px;
  margin-left: -370px
}

#formula-base {
  width: 362px;
  margin-left: -370px
}

#pet-base {
  width: 400px;
  margin-left: -410px;
  bottom: 20px;
}

.machine-top {
  background-color: #f5f5f5;
}

#pour-m-top {
  height: 670px;
}

#form-m-top {
  height: 670px;
}

#machine-bottom {
  background-color: #ededed;
  height: 147px;
}

#inventor {
  width: 470px;
  float: right;
  border: 1px solid #4f4f51;
  margin-top: 18px;
  h2 {
    text-transform: uppercase;
    color: #28282a;
    font-family: 'AvenirBlack';
    font-size: 10px;
    padding: 8px 19px;
    border-bottom: 1px solid #4f4f51;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  p {
    font-size: 10px;
    color: #28282a;
    padding: 10px 19px 0 19px;
    line-height: 1.5;

  }
}

#inventor-photo {
  float: left;
  width: 110px;
  border-right: 1px solid #4f4f51;
  img {
    width: 100%;
  }
}

#inventor-right {
  float: left;
  width: 358px;
}


.plus {
  max-width: 1000px;
  height: 100px;
  position: absolute;
  left: 50%;
  .line {
    height: 1px;
    background: #aab897;
    position: absolute;
    left: 26px;
    top: 13px;
    display: none;
   }
   p {
     font-size: 16px;
     line-height: 1.4;
     padding-top: 3px;
     display: none;
   }
}
.plus-icon {
  width: 26px;
  height: 26px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: 50%;
  background: rgba(255,255,255,.85);
  position: absolute;
  &:hover {
    background: #aab897;
    cursor: pointer;
    svg {
      fill: white;
    }
  }
  svg {
    position: absolute;
    top: 6px;
    left: 6px;
    fill: #a6a3a3;
  }
}

#plus-text {
  position: absolute;
  left: 50%;
  margin-left: 50px;
  height: 817px;
  p {
    position: absolute;
    width: 400px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 16px;
    line-height: 1.4;
    padding-top: 3px;
    display: none;
  }
}

.p-active {
  .plus-icon {
    background: #aab897;
    svg {
      fill: white;
    }
  }
  .line, p {
    display: block;
  }
}

#p1 {
  margin-left: -120px;
  top: 110px;
  .line {
    width: 70px;
  }
  p {
    padding-left: 120px;
  }
}

#p2 {
  margin-left: -190px;
  top: 250px;
  .line {
    width: 130px;
  }
  p {
    padding-left: 180px;
    max-width: 650px;
  }
}

#p3 {
  margin-left: -160px;
  top: 340px;
  .line {
    width: 50px;
  }
  p {
    padding-left: 100px;
  }
}

#p4 {
  margin-left: -265px;
  top: 385px;
  .line {
    width: 130px;
  }
  p {
    padding-left: 180px;
  }
}

#p5 {
  margin-left: -170px;
  top: 500px;
  .line {
    width: 50px;
  }
  p {
    padding-left: 100px;
  }
}

#p6 {
  margin-left: -225px;
  top: 590px;
  .line {
    width: 150px;
  }
  p {
    padding-left: 200px;
  }
}


#f1 {
  margin-left: -90px;
  top: 75px;
  .line {
    width: 60px;
  }
  p {
    padding-left: 110px;
  }
}

#f2 {
  margin-left: -160px;
  top: 145px;
  .line {
    width: 110px;
  }
  p {
    padding-left: 160px;
    max-width: 700px;
  }
}

#f3 {
  margin-left: -120px;
  top: 275px;
  .line {
    width: 110px;
  }
  p {
    padding-left: 160px;
  }
}

#f4 {
  margin-left: -170px;
  top: 370px;
  .line {
    width: 120px;
  }
  p {
    max-width: 650px;
    padding-left: 170px;
  }
}

#f5 {
  margin-left: -170px;
  top: 455px;
  .line {
    width: 130px;
  }
  p {
    max-width: 650px;
    padding-left: 170px;
  }
}

#f6 {
  margin-left: -80px;
  top: 600px;
  .line {
    width: 50px;
  }
  p {
    padding-left: 100px;
  }
}



#pf1 {
  margin-left: -75px;
  top: 100px;
  .line {
    width: 70px;
  }
  p {
    padding-left: 120px;
  }
}

#pf2 {
  margin-left: -120px;
  top: 200px;
  .line {
    width: 130px;
  }
  p {
    padding-left: 180px;
  }
}

#pf3 {
  margin-left: -35px;
  top: 380px;
  .line {
    width: 30px;
  }
  p {
    max-width: 550px;
    padding-left: 80px;
  }
}

#pf4 {
  margin-left: -150px;
  top: 630px;
  .line {
    width: 150px;
  }
  p {
    padding-left: 200px;
  }
}



@media only screen and (max-width: 1240px) {

.product-width {
  max-width: 960px;
}

.feature.feature-odd {
  padding-left: 20px;
}

#iphone {
  .feature-text {
    max-width: 600px;
  }
  .feature-image {
    max-width: 400px;
  }
  .feature-text {
    max-width: 600px;
    float: none;
    padding-top: 45px;
  }
}

#screen-slides {
  top: 108px;
  left: 81px;
  img {
    width: 240px;
  }
}




  #beans, #gear, #pour, #bottles, #carry, #push, #cat, #dog, #app-user {
    .feature-image {
      max-width: 50%;
    }
    .feature-text {
      max-width: 50%;
    }
  }

}


@media only screen and (max-width: 1050px) {
  #machine {
    background: #f5f5f5;
  }
  #pf1, #pf2, #pf3, #pf4, #f1, #f2, #f3, #f4, #f5, #f6, #p1, #p2, #p3, #p4, #p5, #p6 {
    position: initial;

    .plus-icon {
      display: none;
    }
    p {
      display: block!important;
      margin: 0;
      padding: 20px 20px 35px 20px;
      max-width: 100%;
      border-bottom: 1px solid #ebebeb;
      text-align: center;
      max-width: 90%;
      width: 90%;
      margin: 0 5%;
    }

  }

    #pf4 p, #f6 p, #p6 p {
      border: 0;
    }

  #inventor {
    margin: 0 auto;
    float: none;
    overflow: hidden;
  }

  .machine-top {
    display: none;
  }

  #machine-bottom {
    height: auto;
    padding: 20px 0;
    margin-top: -19px;
  }
  .plus {
    display: initial;
  }

  #pet-base, #formula-base, #pour-base {
    position: initial;
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    padding: 20px 80px 0 80px;
  }

#iphone {
  .feature-text {
    position: relative;
    transform: none;
    -webkit-transform: none;
    text-align: center;
  }
  .feature-image {
    max-width: 400px;
    float: none;
    margin:0 auto;
  }
  .feature-text {
    max-width: 100%;
    float: none;
    padding-top: 45px;
  }
}

#screen-slides {
  top: 108px;
  left: 81px;
  img {
    width: 240px;
  }
}
}



@media only screen and (max-width: 900px) {
#iphone .feature-text {
  padding: 45px 0;
}

#beans, #gear, #pour, #bottles, #carry, #push, #cat, #dog, #app-user {
   padding: 0;
  .feature-text {
    position: initial;
    transform: none;
    -webkit-transform: none;
    padding: 30px 0;
    max-width: 100%;
    float: none;
  }
  .feature-image {
    max-height: 400px;
    max-width: 100%;
    float: none;
  }
}

#full-pour-image, #full-pet-image, #full-formula-image   {
  min-height: 300px;
}

}


@media only screen and (max-width: 800px) {
.product-header {
  h1 {
    font-size: 15px;
    font-size: 5.5vw;
    margin-bottom: 10px;

  }
  h2 {
    font-size: 16px;
  }
}
}


@media only screen and (max-width: 540px) {


#inventor {
  width: 100%;
  border: none;
  margin-top: 0;
  h2 {
    border-bottom: none;
  }
}

#inventor-photo {
  float: left;
  width: 30%;
  border-right: none;
}

#inventor-right {
  float: left;
  width: 70%;
  h2 {
  padding-top: 0;
}
}
}


@media only screen and (max-width: 500px) {

#iphone {
  .feature-text {
    position: relative;
    transform: none;
    -webkit-transform: none;
    text-align: center;
  }
  .feature-image {
    max-width: 255px;
    float: none;
    margin:0 auto;
  }
  .feature-text {
    max-width: 100%;
    float: none;
    padding-top: 45px;
  }
}

#screen-slides {
  top: 67px;
  left: 52px;
  img {
    width: 153px;
  }
}

}
