#we-care {
  text-align: center;
  overflow: hidden;
  padding: 100px 0;
    h1 {
      color: #28282a;
      font-size: 30px;
      margin-bottom: 40px;
      padding: 0 15px;
    }
    h2 {
      font-family: 'AvenirMedium';
      color: #aab897;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin: 30px 0 15px 0;
    }
    p {
      color: #757576;
      font-size: 19px;
      line-height: 1.6;
      padding: 0 15px;
    }
  .feature-box p {
    color: #28282a;
    font-size: 14px;
    padding: 0 10px;
  }
  #feature-boxes {
    overflow: hidden;
    .width-wrapper {
      max-width: 1100px;
    }
  }
  .feature-box {
    width: 33.33333%;
    float: left;
    position: relative;
    img {
    }
  }
  .feature-image-background {
    background: #f5f5f5;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    position: relative;
    margin: 0 auto;
  }
  #coffee {
    max-width: 125px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #amazon {
    width: 194px;
    position: absolute;
    bottom: 25px;
    right: -20px;
  }
  #accio {
    position: absolute;
    width: 230px;
    top: 50%;
    margin-top: -76px;
    left: 50%;
    margin-left: -115px;
  }
}

  #poppy-cares {
    margin-bottom: 75px;

  }


#wing1, #wing2, #wing3 {
  position: absolute;
  z-index: 2;
}

#wing1 {
  right: 90px;
  top: 45px;
  width: 72px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

#wing2 {
  right: 110px;
  top: 20px;
  width: 78px;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

#wing3 {
  right: 100px;
  top: 0px;
  width: 115px;
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}


@media only screen and (max-width: 960px) {
#we-care {
    .feature-box p, .feature-box h2 {
      text-align: center;
      width: 100%;
      float: none;
      padding: 0;
    }
    .feature-box {
      width: 100%;
      float: none;
      position: relative;
      h2 {
        margin-top: 30px;
      }
    }
  .feature-image-background {
    width: 210px;
    height: 210px;
    float: none;
  }
    .feature-box + .feature-box {
      margin-top: 50px;
    }
    .feature-box-text {
      position: relative;
      top: 0;
      transform: none;
    }
  }

}


@media only screen and (max-width: 600px) {

}
