<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Make Coffee">
  <title>Poppy - <%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= action_name %>">
  <!-- Navigation -->
  <% nav_wrapping_id = current_page?(root_path) ? "" : "product-nav-width" %>
  <% nav_wrapping_class = current_page?(root_path) ? "" : "product-width" %>
  <div id="<%= nav_wrapping_id %>" class="<%= nav_wrapping_class %>">
    <nav class="animated fadeIn" id="<%= current_page?(root_path) ? "master-navigation" : "product-navigation" %>">
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= root_path %>#about" class="scroll" data-hash="about" data-scroll-to="our-products">About</a></li>
        <li><a href="<%= root_path %>#products" class="scroll" data-hash="products" data-scroll-to="product-scroll-target">Products</a></li>
        <li><a href="<%= root_path %>#how-it-works" class="scroll" data-hash="how-it-works" data-scroll-to="we-care">How&nbsp;It&nbsp;Works</a></li>
        <li><a href="<%= root_path %>#sign-up"  class="scroll" data-hash="sign-up" data-scroll-to="footer-email">Sign&nbsp;Up</a></li>
      </ul>
    </nav>
  </div>

  <div id="fixed-nav">
    <div class="product-width">
      <a href="<%= root_path %>">
        <%= image_tag "poppy.png", alt: "poppy logo", id: "nav-logo" %>
      </a>

      <a id="mobile-menu-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.8 20"><path d="M30,18.5H0.8c-0.5,0-0.8,0.3-0.8,0.8C0,19.7,0.3,20,0.8,20H30c0.5,0,0.8-0.3,0.8-0.8C30.8,18.8,30.5,18.5,30,18.5z"/><path d="M0.8,1.5H30c0.5,0,0.8-0.3,0.8-0.8S30.5,0,30,0H0.8C0.3,0,0,0.3,0,0.8S0.3,1.5,0.8,1.5z"/><path d="M30,9.2H0.8C0.3,9.2,0,9.5,0,10c0,0.5,0.3,0.8,0.8,0.8H30c0.5,0,0.8-0.3,0.8-0.8C30.8,9.5,30.5,9.2,30,9.2z"/></svg></a>

      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= root_path %>#about" class="scroll" data-hash="about" data-scroll-to="our-products">About</a></li>
        <li><a href="<%= root_path %>#products" class="scroll" data-hash="products" data-scroll-to="product-scroll-target">Products</a></li>
        <li><a href="<%= root_path %>#how-it-works" class="scroll" data-hash="how-it-works" data-scroll-to="we-care">How&nbsp;It&nbsp;Works</a></li>
        <li><a href="<%= root_path %>#sign-up"  class="scroll" data-hash="sign-up" data-scroll-to="footer-email">Sign&nbsp;Up</a></li>
      </ul>

    </div>
  </div>

  <!-- Content -->
  <%= yield %>

  <!-- Footer -->
  <footer id="#master-footer">

    <div id="footer-email">
      <div class="width-wrapper cf">

        <div id="footer-left">
          <h2 class="default">Want to know when you can shop Poppy?<br>
          Enter your e-mail address below.</h2>

          <div id="email-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="42px"viewBox="0 0 34 26.2"><polygon points="34,5 11.2,26.2 11.1,26 6.6,21.2 0,14.1 4.9,9.6 11.5,16.7 29.4,0 "/></svg>
            <h2>Great, you're on the list!</h2>
            <p>We'll let you known when Poppy appliances are available</p>
          </div>

          <form id="email-form">
            <input id="email-input" type="email" placeholder="you@email.com">
            <button id="email-submit" value=""></button>
          </form>

          <p id="email-error">Hmm, that e-mail address doesn't look right</p>

        </div>

        <%= image_tag "footer/three-products.jpg", id: "footer-products" %>

      </div>
    </div>

    <div id="interested">
      <div class="product-width">
        <h2>Interested in working with us? We'd love to hear from you.</h2>
        <a href="mailto:partners@poppyhome.com">partners@poppyhome.com</a>
      </div>
    </div>

    <div id="footer-bottom">
      <div class="width-wrapper">
        <%= image_tag "poppy.png", id: "poppy-logo-footer" %>

        <ul>
          <li><a href="<%= legal_path %>">Legal</a></li>
          <li><a href="http://quirky.com">Quirky</a></li>
          <li><a href="http://wink.com">Wink</a></li>
          <li><a href="http://www.amazon.com/dashreplenishmentservice">Amazon</a></li>
        </ul>

      </div>
    </div>
  </footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3535636-21', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
